<!-- Alert -->
<div style="position: absolute; left: 0; top: 0; width: 100%; z-index: 100">
    {{#if success}}
    <div class="alert-float alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        {{success}}
    </div>
    {{/if}}
    {{#if error}}
    <div class="alert-float alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        {{error}}
    </div>
    {{/if}}
</div>